<!DOCTYPE html>
<html>
<head>
    <title>Blog</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <% if (!session.user) { %>
                <a href="/login">Login</a>
                <a href="/register">Register</a>
            <% } else { %>
                <a href="/posts/new">Create Post</a>
                <a href="/logout">Logout</a>
            <% } %>
        </nav>
    </header>
</body>
